		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Lens</h1>
						<p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/01.jpg" %> " data-position="left center"><img src="<%= asset_path "thumbs/01.jpg" %>" alt="" /></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/02.jpg" %>"><img src="<%= asset_path "thumbs/02.jpg" %>" alt="" /></a>
							<h2>Vivamus convallis libero</h2>
							<p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/03.jpg" %>" data-position="top center"><img src="<%= asset_path "thumbs/03.jpg" %>" alt="" /></a>
							<h2>Nec accumsan enim felis</h2>
							<p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/04.jpg" %>"><img src="<%= asset_path "thumbs/04.jpg" %>" alt="" /></a>
							<h2>Donec maximus nisi eget</h2>
							<p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/05.jpg" %>" data-position="top center"><img src="<%= asset_path "thumbs/05.jpg" %>" alt="" /></a>
							<h2>Nullam vitae nunc vulputate</h2>
							<p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/06.jpg" %>"><img src="<%= asset_path "thumbs/06.jpg" %>" alt="" /></a>
							<h2>Phasellus magna faucibus</h2>
							<p>Nulla dignissim libero maximus tellus varius dictum ut posuere magna.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/07.jpg" %>"><img src="<%= asset_path "thumbs/07.jpg" %>" alt="" /></a>
							<h2>Proin quis mauris</h2>
							<p>Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/08.jpg" %>"><img src="<%= asset_path "thumbs/08.jpg" %>" alt="" /></a>
							<h2>Gravida quis varius enim</h2>
							<p>Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/09.jpg" %>"><img src="<%= asset_path "thumbs/09.jpg" %>" alt="" /></a>
							<h2>Morbi eget vitae adipiscing</h2>
							<p>In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/10.jpg" %>"><img src="<%= asset_path "thumbs/10.jpg" %>" alt="" /></a>
							<h2>Habitant tristique senectus</h2>
							<p>Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/11.jpg" %>"><img src="<%= asset_path "thumbs/11.jpg" %>" alt="" /></a>
							<h2>Pharetra ex non faucibus</h2>
							<p>Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= asset_path "fulls/12.jpg" %>"><img src="<%= asset_path "thumbs/12.jpg" %>" alt="" /></a>
							<h2>Mattis lorem sodales</h2>
							<p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
						</article>
					</section>

<h1><p id="home">Don Quijote de la Mancha</p></h1>

<div class="container p-5">
	<ul>
		<li><a href="#sec1">CAPÍTULO PRIMERO</a></li>
		<li><a href="#sec2">CAPÍTULO SEGUNDO</a></li>
		<li><a href="#sec3">CAPÍTULO TERCERO</a></li>
	</ul>

	

	<div>
		
		<h2><p id="sec1">
				<br>
				CAPÍTULO PRIMERO
				<br>
			</p>
		</h2>
		<a href="#home">Volver</a>
		<p>

	Que trata de la condición y ejercicio del famoso y valiente hidalgoI don Quijote de la Mancha1 <br />
	En un lugar de la Mancha2, de cuyo nombre no quiero acordarme3, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor4. Una olla de algo más vaca que carnero, salpicón las más noches5, duelos y quebrantos los sábados6, lantejas los viernes7, algún palomino de añadidura los domingos8, consumían las tres partes de su hacienda9. El resto della concluían sayo de velarte10, calzas de velludo para las fiestas, con sus pantuflos de lo mesmo11, y los días de entresemana se honraba con su vellorí de lo más fino12. Tenía en su casa una ama que pasaba de los cuarenta y una sobrina que no llegaba a los veinte, y un mozo de campo y plaza que así ensillaba el rocín como tomaba la podadera13. Frisaba la edad de nuestro hidalgo con los cincuenta años14. Era de complexión recia, seco de carnes, enjuto de rostro15, gran madrugador y amigo de la caza. Quieren decir que tenía el sobrenombre de «Quijada», o «Quesada», que en esto hay alguna diferencia en los autores que deste caso escriben, aunque por conjeturas verisímilesII se deja entender que se llamaba «Quijana»III, 16. Pero esto importa poco a nuestro cuento: basta que en la narración dél no se salga un punto de la verdad.<br />

	Es, pues, de saber que este sobredicho hidalgo, los ratos que estaba ocioso —que eran los más del año—, se daba a leer libros de caballerías, con tanta afición y gusto, que olvidó casi de todo punto el ejercicio de la caza y aun la administración de su hacienda; y llegó a tanto su curiosidad y desatino en esto17, que vendió muchas hanegas de tierra de sembradura para comprar libros de caballerías en queIV leer18, y, así, llevó a su casa todos cuantos pudo haber dellos; y, de todos, ningunos le parecían tan bienV como los que compuso el famoso Feliciano de Silva19, porque la claridad de su prosa y aquellas entricadas razones suyas le parecían de perlas, y más cuando llegaba a leer aquellos requiebros y cartas de desafíos20, donde en muchas partes hallaba escrito: «La razón de la sinrazón que a mi razón se hace, de tal manera mi razón enflaquece, que con razón me quejo de la vuestra fermosura»21. Y también cuando leía: «Los altos cielos que de vuestra divinidad divinamente con las estrellas os fortifican y os hacen merecedora del merecimiento que merece la vuestra grandeza...»22<br />

	Con estas razones perdía el pobre caballero el juicio, y desvelábase por entenderlas y desentrañarles el sentido, que no se lo sacara ni las entendiera el mesmo Aristóteles, si resucitara para solo ello. No estaba muy bien con las heridas que don Belianís daba y recebía, porque se imaginaba que, por grandes maestros que le hubiesen curado, no dejaría de tener el rostro y todo el cuerpo lleno de cicatrices y señales23. Pero, con todo, alababa en su autor aquel acabar su libro con la promesa de aquella inacabable aventura, y muchas veces le vino deseo de tomar la pluma y dalle fin al pie de la letra como allí se promete24; y sin duda alguna lo hiciera, y aun saliera con ello25, si otros mayores y continuos pensamientos no se lo estorbaran. Tuvo muchas veces competencia con el cura de su lugar —que era hombre docto, graduado en Cigüenza—26 sobre cuál había sido mejor caballero: Palmerín de Ingalaterra o Amadís de Gaula27; mas maese Nicolás, barbero del mesmo pueblo28, decía que ninguno llegaba al Caballero del Febo, y que si alguno se le podía comparar era don Galaor, hermano de Amadís de Gaula, porque tenía muy acomodada condición para todo, que no era caballero melindroso, ni tan llorón como su hermano, y que en lo de la valentía no le iba en zaga29.</p>

	</div>

	<div>
		
		<h2><p id="sec2">
				<br>
				CAPÍTULO SEGUNDO
				<br>
			</p>
		</h2><br>
		<a href="#home">Volver</a>
		<p>Hechas, pues, estas prevenciones, no quiso aguardar más tiempo a poner en efeto su pensamiento1, apretándole a ello la falta que él pensaba que hacía en el mundo su tardanza,2 según eran los agravios que pensaba deshacer, tuertos que enderezar3, sinrazones que emendar y abusosI que mejorar4 y deudas que satisfacer. Y así, sin dar parte a persona alguna de su intención5 y sin que nadie le viese, una mañana, antes del día, que era uno de los calurosos del mes de julio6, se armó de todas sus armas7, subió sobre Rocinante, puesta su mal compuesta celada, embrazó su adarga8, tomó su lanza y por la puerta falsa de un corral salió al campo9, con grandísimo contento y alborozo de ver con cuánta facilidad había dado principio a su buen deseo. Mas apenas se vio en el campo, cuando le asaltó un pensamiento terrible, y tal, que por poco le hiciera dejar la comenzada empresa; y fue que le vino a la memoria que no era armado caballero y que, conforme a ley de caballería, ni podía ni debía tomar armas con ningún caballero10, y puesto que lo fuera, había de llevar armas blancas11, como novel caballero, sin empresa en el escudo12, hasta que por su esfuerzo la ganase. Estos pensamientos le hicieron titubear en su propósito; mas, pudiendo más su locura que otra razón alguna, propuso de hacerse armar caballero del primero que topase, a imitación de otros muchos que así lo hicieron, según él había leído en los libros que tal le tenían13. En lo de las armas blancas14, pensaba limpiarlas de manera, en teniendo lugar, que lo fuesen más que un arminioII, 15; y con esto se quietó16 y prosiguió su camino, sin llevar otro que aquel que su caballo quería, creyendo que en aquello consistía la fuerza de las aventuras17.

Yendo, pues, caminando nuestro flamante aventurero, iba hablando consigo mesmo y diciendo:

—¿Quién duda sino que en los venideros tiempos, cuando salga a luz la verdadera historia de mis famosos hechos, que el sabio que los escribiere no ponga, cuando llegue a contar esta mi primera salida tan de mañana, desta manera?18: «Apenas había el rubicundo Apolo tendido por la faz de la ancha y espaciosa tierra las doradas hebras de sus hermosos cabellos19, y apenas los pequeños y pintados pajarillos con sus harpadas lenguas20 habían saludado con dulce y meliflua armonía la venida de la rosada aurora, que, dejando la blanda cama del celoso marido, por las puertas y balcones del manchego horizonte a los mortales se mostraba21, cuando el famoso caballero don Quijote de la Mancha, dejando las ociosas plumas22, subió sobre su famoso caballo Rocinante y comenzó a caminar por el antiguo y conocido campo de Montiel»23.

Y era la verdad que por él caminaba. Y añadió diciendo:

—Dichosa edad y siglo dichoso aquel adonde saldrán a luz las famosas hazañas mías24, dignas de entallarse en broncesIII, 25, esculpirse en mármoles y pintarse en tablas, para memoria en lo futuro. ¡Oh tú, sabio encantador, quienquiera que seas26, a quien ha de tocar el ser coronista27 desta peregrina historia!28 Ruégote que no te olvides de mi buen Rocinante, compañero eterno mío en todos mis caminos y carreras29.

Luego volvía diciendo, como si verdaderamente fuera enamorado:

—¡Oh princesa Dulcinea, señora deste cautivo corazón! Mucho agravio me habedes fecho en despedirme y reprocharme con el rigurosoIV afincamiento de mandarme no parecer ante la vuestra fermosura. Plégaos, señora, de membraros deste vuestro sujeto corazón, que tantas cuitas por vuestro amor padece30.

Con estos iba ensartando otros disparates, todos al modo de los que sus libros le habían enseñado, imitando en cuanto podía su lenguaje. Con estoV, caminaba tan despacio, y el sol entraba tan apriesa y con tanto ardor, que fuera bastante a derretirle los sesos, si algunos tuviera31.

Casi todo aquel día caminó sin acontecerle cosa que de contar fuese,32 de lo cual se desesperaba, porque quisiera topar luego33 con quien hacer experiencia del valor de su fuerte brazo. Autores hay que dicen que la primera aventura que le avino fue la del Puerto Lápice; otros dicen que la de los molinos de viento34; pero lo que yo he podido averiguar en este caso, y lo que he hallado escrito en los anales de la Mancha35 es que él anduvo todo aquel día, y, al anochecer, su rocín y él se hallaron cansados y muertos de hambre, y que, mirando a todas partes por ver si descubriríaVI algún castillo o alguna majada de pastores donde recogerse36 y adonde pudiese remediar su mucha hambre y necesidadVII, vio, no lejos del camino por donde iba, una venta37, que fue como si viera una estrella que, no a los portalesVIII, sino a los alcázares de su redención le encaminaba38. Diose priesa a caminar y llegó a ella a tiempo que anochecía.

Estaban acaso39 a la puerta dos mujeres mozas, destas que llaman del partido40, las cuales iban a Sevilla con unos arrieros que en la venta aquella noche acertaron a hacer jornada41; y como a nuestro aventurero todo cuanto pensaba, veía o imaginaba le parecía ser hecho y pasar al modo de lo que había leído, luego que vio la venta se le representó que era un castillo con sus cuatro torres y chapiteles de luciente plata42, sin faltarle su puente levadiza y honda cava43, con todos aquellos adherentes que semejantesIX castillos se pintan. Fuese llegando a la venta que a él le parecía castillo, y a poco trecho della detuvo las riendas a Rocinante, esperando que algún enano se pusiese entre las almenas a dar señal con alguna trompeta de que llegaba caballero al castillo44. Pero como vio que se tardaban y que Rocinante se daba priesa por llegar a la caballeriza, se llegó a la puerta de la venta y vio a las dos destraídas mozas que allí estaban45, que a él le parecieron dos hermosas doncellas o dos graciosas damas que delante de la puerta del castillo se estaban solazando46. En esto sucedió acaso que un porquero que andaba recogiendo de unos rastrojos una manada de puercos (que sin perdón así se llaman)47 tocó un cuerno, a cuya señal ellos se recogen, y al instante se le representó a don Quijote lo que deseaba, que era que algún enano hacía señal de su venida; y, así, con estraño contento48 llegó a la venta y a las damas, las cuales, como vieron venir un hombre de aquella suerte armado, y con lanza y adarga, llenas de miedo se iban a entrar en la venta; pero don Quijote, coligiendo por su huida su miedo,49 alzándose la visera de papelón50 y descubriendo su seco y polvoroso rostro, con gentil talante y voz reposada les dijo:

—Non fuyanX las vuestras mercedes, ni teman desaguisado alguno, ca a la orden de caballería que profeso non toca ni atañe facerle a ninguno, cuanto más a tan altas doncellas como vuestras presencias demuestran51.</p>

	</div>

	</div>

	<div><br>
		
		<h2><p id="sec3">
				<br>
				CAPÍTULO TERCERO
				<br>
			</p>
		</h2>
		<a href="#home">Volver</a>
		<p>
			Y, así, fatigado deste pensamiento, abrevió su venteril y limitada cena; la cual acabada, llamó al ventero y, encerrándose con él en la caballeriza, se hincó de rodillas ante él, diciéndole:

—No me levantaré jamás de donde estoy, valeroso caballero, fasta que la vuestra cortesía me otorgue un don que pedirle quiero2, el cual redundará en alabanza vuestra y en pro del género humano3.

El ventero, que vio a su huésped a sus pies y oyó semejantesI razones, estaba confuso mirándole, sin saber qué hacerse ni decirle, y porfiaba con él que se levantase, y jamás quiso4, hasta que le hubo de decir que él le otorgaba el don que le pedía.

—No esperaba yo menos de la gran magnificencia vuestra, señor mío —respondió don Quijote—, y así os digo que el don que os he pedido y de vuestra liberalidad me ha sido otorgado es que mañana en aquel día me habéis de armar caballero5, y esta noche en la capilla deste vuestro castillo velaré las armas6, y mañana, como tengo dicho, se cumplirá lo que tanto deseo, para poder como se debe ir por todas las cuatro partes del mundo7 buscando las aventuras, en pro de los menesterosos, como está a cargo de la caballería y de los caballeros andantes, como yo soy, cuyo deseo a semejantes fazañas es inclinado.

El ventero, que, como está dicho, era un poco socarrón y ya tenía algunos barruntos de la falta de juicio de su huésped8, acabó de creerlo cuando acabó de oírleII semejantes razones y, por tener que reír aquella noche, determinó de seguirle el humor; y, así, le dijo que andaba muy acertado en lo que deseaba y pedía y que talIII prosupuesto9 era propio y natural de los caballeros tan principales como él parecía y como su gallarda presencia mostraba; y que él ansimesmo, en los años de su mocedad, se había dado a aquel honroso ejercicio, andando por diversas partes del mundo, buscando sus aventuras, sin que hubiese dejado los Percheles de Málaga, Islas de RiaránIV, Compás de Sevilla, Azoguejo de Segovia, la Olivera de Valencia, Rondilla de Granada, Playa de Sanlúcar, Potro de Córdoba y las Ventillas de Toledo y otras diversas partes10, donde había ejercitado la ligereza de sus pies, sutileza de sus manos, haciendo muchos tuertos, recuestando muchas viudas11, deshaciendo algunas doncellas y engañando a algunos pupilos y, finalmente, dándose a conocer por cuantas audiencias y tribunales hay casi en toda España12; y que, a lo último, se había venido a recoger a aquel su castillo, donde vivía con su hacienda y con las ajenas, recogiendo en él a todos los caballeros andantes, de cualquiera calidad y condición que fuesen, solo por la mucha afición que les tenía y porque partiesen con él de sus haberes13, en pago de su buen deseo.

Díjole también que en aquel su castillo no había capilla alguna donde poder velar las armas, porque estaba derribada para hacerla de nuevo, pero que en caso de necesidad él sabía que se podían velar dondequiera y que aquella noche las podría velar en un patio del castillo, que a la mañana, siendo Dios servido, se harían las debidas ceremonias de manera que él quedase armado caballero, y tan caballero, que no pudiese ser más en el mundo.

Preguntóle si traía dineros; respondió don Quijote que no traía blanca14, porque él nunca había leído en las historias de los caballeros andantes que ninguno los hubiese traído. A esto dijo el ventero que se engañaba, que, puesto caso que en las historias no se escribía15, por haberles parecido a los autores dellasV que no era menester escrebir una cosa tan clara y tan necesaria de traerse como eran dineros y camisas limpias, no por eso se había de creer que no los trujeron, y, así, tuviese por cierto y averiguado que todos los caballeros andantes, de que tantos libros están llenos y atestados, llevaban bien herradas las bolsas16, por lo que pudiese sucederles, y que asimismo llevaban camisas y una arqueta pequeña llena de ungüentos para curar las heridas que recebían, porque no todas veces en los campos y desiertos donde se combatían y salían heridos había quien los curase, si ya no era que tenían algún sabio encantador por amigo, que luego los socorría, trayendo por el aire en alguna nube alguna doncella o enano con alguna redoma de agua de tal virtud17, que en gustando alguna gota della luego al punto quedaban sanos de sus llagas y heridas, como si mal alguno hubiesenVI tenido; mas que, en tanto que esto no hubieseVII, tuvieron los pasados caballeros por cosa acertada que sus escuderos fuesen proveídos de dineros y de otras cosas necesarias, como eran hilas y ungüentos para curarse18; y cuando sucedía que los tales caballeros no tenían escuderos —que eran pocas y raras veces—19, ellos mesmos lo llevaban todo en unas alforjas muy sutiles, que casi no se parecían20, a las ancas del caballo, como que era otra cosa de más importancia, porque, no siendo por ocasión semejante, esto de llevar alforjas no fue muy admitido entre los caballeros andantes; y por esto le daba por consejo, pues aun se lo podíaVIII mandar como a su ahijado21, que tan presto lo había de ser, que no caminase de allí adelante sin dineros y sin las prevenciones referidasIX, y que vería cuán bien se hallaba con ellas, cuando menos se pensase.

Prometióle don Quijote de hacer lo que se le aconsejaba, con toda puntualidad; y, así, se dio luego orden como velase las armas en un corral grande que a un lado de la venta estaba, y recogiéndolas don Quijote todas, las puso sobre una pila que junto a un pozo estaba22 y, embrazando su adarga23, asió de su lanza y con gentil continente24, se comenzó a pasear delante de la pila; y cuando comenzó el paseo comenzaba a cerrar la noche.

Contó el ventero a todos cuantos estaban en la venta la locura de su huésped, la vela de las armas y la armazón de caballería que esperaba25. Admiráronse de tan estraño género de locura y fuéronseloX a mirar desde lejos, y vieron que con sosegado ademán unas veces se paseaba; otras, arrimado a su lanza, ponía los ojos en las armas, sin quitarlos por un buen espacio dellas. Acabó de cerrar la noche, pero conXI tanta claridad de la luna, que podía competir con el que se la prestaba26, de manera que cuanto el novel caballero hacía era bien visto de todos. Antojósele en esto a uno de los arrieros que estaban en la venta ir a dar agua a su recua27, y fue menester quitar las armas de don Quijote, que estaban sobre la pila; el cual, viéndole llegar, en voz alta le dijo:

—¡Oh tú, quienquiera que seas, atrevido caballero, que llegas a tocar las armas del más valeroso andante que jamás se ciñó espada28! Mira lo que haces, y no las toques, si no quieres dejar la vida en pago de tu atrevimientoXII.</p>
			
	</div>
</div>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
						</ul>
					</footer>

			</div>